button {
	font-size: calc(10px + 2vmin);
}

.NavBar {
	background: royalblue;
	padding: 1rem;
	& span {
		color: white;
	}
}

.Inicio {
	background: darkslategray;
	text-align: center;

	height: 100vh;
	& span {
		color: white;

		font-size: 5rem;
		font-weight: 600;
		padding-top: 10rem;
	}
}
